.error {
  background-color: #808080;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error h1,
.error h2,
.error p {
  text-shadow: var(--main-shadow);
  color: var(--light-color);
}

.error h1 {
  font-size: 15rem;
}

.error h2 {
  font-size: 3rem;
}

.error p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  width: 50%;
  margin: 3rem auto;
}

.error a {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  font-weight: 700;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--light-color);
}
.error a:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
