.benefits {
  padding: 3rem 0;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
}

.benefits-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 4px solid var(--color-primary);
  border-radius: var(--radius-m);
}

.benefits-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.benefits-card p {
  color: var(--color-muted-text);
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .benefits-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 499px) {
  .benefits-cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .benefits-card h3 {
    font-size: 1.25rem;
  }

  .benefits-card p {
    font-size: 1rem;
  }
}
