.form-section {
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--light-color);
}

.form-section h1,
.form-section p {
  text-align: center;
  text-shadow: var(--main-shadow);
}

.form-section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.form-section p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.form-section input,
.form-section textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.form-section input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.form-section textarea {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  resize: none;
  min-height: 150px;
}

.form-section label {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.2rem;
}

.btn-contact {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 8px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--light-color);
}

.btn-contact:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-actions p {
  font-size: 1rem;
}

.fa-paper-plane {
  font-size: 0.95rem;
}
