.courses {
  background-color: #808080;
  padding: 10rem 0 6rem 0;
  color: var(--light-color);
}

.courses .card {
  width: 25%;
  padding-bottom: 1rem;
  transition: transform 0.2s ease-in;
}

.img-container {
  text-align: center;
}

.img-container img {
  height: 100px;
  object-fit: contain;
  margin-top: 1rem;
}

.card:hover {
  transform: translateY(-20px);
}
