body {
  color: #fff;
  /* FORCE FULL LAYOUT VISIBILITY ON SMALLER SCREENS */
  min-height: fit-content;
}

.container {
  width: 300px;
}

.left {
  display: block;
  text-align: left;
  align-self: flex-start;
}

img {
  width: 100%;
}

p {
  margin-bottom: 1rem;
}

a {
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #1a1e1f;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
  background-color: #ccc;
}

/* PREVENT LONG ELEMENT NAMES FROM WRAPPING INTO SECOND LINE */
h1 {
  width: max-content;
}
