.hero {
  background-color: #808080;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero h1,
.hero p {
  color: var(--light-color);
  text-shadow: var(--main-shadow);
}

.hero h1 {
  font-size: 5rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 6rem;
}

.hero a {
  display: inline-block;
  margin-top: 2rem;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  font-weight: 700;
}

.hero a.btn-main {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--light-color);
  margin-right: 3rem;
}

.btn-secondary {
  background-color: var(--light-color);
  border: 2px solid var(--light-color);
  color: var(--main-color);
}

.hero a.btn-main:hover,
.btn-secondary:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.btn-secondary:hover {
  color: var(--light-color);
}
