table {
  margin: 0 1rem 1rem 1rem;
}

td {
  min-width: 70px;
  height: 70px;
  transition: transform 0.2s ease-in;
  border: 1px solid #1a1e1f;
  border-radius: 4px;
}

td:not(.blank):hover {
  transform: scale(1.2);
  z-index: 10;
  position: relative;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 6px;
  text-decoration: none;
  border-radius: 4px;
}

.symbol {
  font-weight: bold;
  font-size: 2rem;
}

.number {
  align-self: flex-start;
}

.number,
.name {
  font-size: 0.75rem;
}

/* COLORS USED FOR ELEMENT TILES */
.ice-blue {
  background-color: #e6f0ff;
  color: #1a64ff;
}

.pastel-pink {
  background-color: #feeeef;
  color: #d12d69;
}

.light-icy-blue {
  background-color: #e6f4fd;
  color: #0b3d5d;
}

.peach-orange {
  background-color: #f1bca4;
  color: #ce471a;
}

.light-grey {
  background-color: #eaeaed;
  color: #544d62;
}

.icy-cyan {
  background-color: #e1f9ff;
  color: #20889d;
}

.light-pink {
  background-color: #ffeded;
  color: #db1f3f;
}

.lavender-purple {
  background-color: #f7f0fd;
  color: #7449ee;
}

.cream-yellow {
  background-color: #efe2c6;
  color: #9a600d;
}

.mint-green {
  background-color: #dcfaeb;
  color: #416946;
}

/* FORCE FULL LAYOUT VISIBILITY ON SMALLER SCREENS */
body {
  min-width: fit-content;
  min-height: fit-content;
}
