.products {
  padding: 3rem 0;
  background: linear-gradient(
    90deg,
    rgba(var(--color-muted-text-rgb), 0.1) 0%,
    rgba(var(--color-white-text-rgb), 0.1) 50%,
    rgba(var(--color-muted-text-rgb), 0.1) 100%
  );
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
}

.products-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 4px solid var(--color-primary);
  border-radius: var(--radius-m);
  background-color: var(--color-background);
}

.products-label {
  text-transform: uppercase;
}

.products-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.products-card p {
  color: var(--color-muted-text);
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .products-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 499px) {
  .products-cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .products-card h3 {
    font-size: 1.25rem;
  }

  .products-card p {
    font-size: 1rem;
  }
}
