:root {
  --main-color: #013e77;
  --secondary-color: #ce5555;
  --light-color: #fff;
  --dark-color: #000;
  --main-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, sans-serif;
}
