.container {
  max-width: 1200px;
  margin: 0 auto;
}

.required {
  color: #ff0000;
}

/* CARDS */

.card,
.card img {
  background-color: var(--main-color);
  border-radius: 8px;
}

.card {
  box-shadow: var(--main-shadow);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 2rem;
}

.card-inner {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-inner p {
  margin: 2rem 0;
  line-height: 1.6;
}

/* CARDS BUTTON */
.card-inner a {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  background-color: var(--light-color);
  color: var(--main-color);
  font-weight: 700;
  border-radius: 4px;
  border: 2px solid var(--light-color);
  transition: all 0.2s ease-in;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.card-inner a:hover {
  background-color: transparent;
  color: var(--light-color);
}
