body {
  font-family: sans-serif;
  background-color: #1a1e1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
}
