*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--font-main);
  background-color: var(--background);
  color: var(--text-primary);
  transition: var(--transition-default);
}

main {
  flex: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 999999s ease-in-out 0s;
  -webkit-text-fill-color: var(--text-primary);
}
