.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-default);
  border: 2px solid var(--border);
  border-radius: var(--radius-sm);
  color: var(--text-primary);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-login,
.btn-signup,
.btn-logout,
.btn-load-more,
.btn-pagination,
.profile-btns-wrapper button,
.profile-btns-wrapper a,
.image-modal-overlay button {
  padding: var(--spacing-sm) var(--spacing-md);
}

.theme-toggle,
.btn-load-more,
.btn-pagination,
.profile-btns-wrapper button,
.profile-btns-wrapper a,
.btn-sign-in,
.btn-sign-up,
.image-modal-overlay button {
  background-color: var(--card-background);
}

.btn-sign-in,
.btn-sign-up {
  padding: var(--spacing-md) var(--spacing-lg);
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

.theme-toggle svg,
.btn-load-more svg,
.profile-btns-wrapper svg,
.about-details svg {
  height: 20px;
  width: 20px;
}

.btn-pagination svg,
.image-modal-overlay button svg {
  height: 15px;
  width: 30px;
}

.theme-toggle svg {
  margin: var(--spacing-sm);
}

.btn-load-more svg,
.profile-btns-wrapper svg {
  margin-right: var(--spacing-sm);
}

.btn:not(:disabled):hover,
.image-modal-overlay button:hover,
.btn.active {
  border-color: var(--primary);
}

.btn:active {
  transform: scale(0.95);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-load-more {
  margin-bottom: var(--spacing-xl);
}

.pill {
  display: inline-block;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-sm);
  color: var(--accent);
  font-size: 0.875rem;
  transition: var(--transition-default);
  width: fit-content;
  border: 2px solid var(--border);
}

.pill:hover {
  border-color: var(--primary);
}

.no-hover.pill:hover {
  border-color: var(--border);
}

@media (max-width: 768px) {
  .btn-load-more {
    margin-bottom: var(--spacing-lg);
  }
}
