.skeleton {
  background: linear-gradient(
    90deg,
    var(--skeleton-base) 0%,
    var(--skeleton-shine) 50%,
    var(--skeleton-base) 100%
  );
  background-size: 200% 100%;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
  transition: var(--transition-default);
  animation: skeleton-loading 1.5s infinite;
  height: 280px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
