footer {
  background-color: var(--color-footer-background);
  color: var(--color-footer-text);
  padding: 2rem 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
