.testimonial {
  padding: 3rem 0;
  background-color: var(--color-white-text);
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 16rem;
  border-radius: var(--radius-l);
  border-left: 4px solid var(--color-primary);
  border-right: 4px solid var(--color-primary);
  text-align: center;
}

.testimonial-content h3 {
  font-size: 2rem;
  font-weight: 700;
}

.testimonial-content p {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--color-muted-text);
  line-height: 1.5;
  text-align: center;
  margin: 2rem 0;
}

@media (max-width: 1024px) {
  .testimonial-content {
    padding: 4rem 8rem;
  }

  .testimonial-content h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 499px) {
  .testimonial-content {
    padding: 2rem 4rem;
  }
}
