.about-description {
  font-size: clamp(1rem, 0.875rem + 0.625vw, 1.5rem);
  line-height: 1.6;
  padding-bottom: var(--spacing-large);
}

@media (max-width: 1280px) {
  .about-description {
    line-height: 1.4;
  }
}
