.projects-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-medium);
  padding-bottom: var(--spacing-large);
}

.project-item {
  display: flex;
  flex-direction: column;
  color: var(--color-text-secondary);
  border-radius: var(--border-radius-main);
  text-align: center;
}

.project-item:hover .img-wrapper::after {
  width: 100%;
}

.project-item .img-wrapper {
  height: 300px;
  overflow: clip;
  position: relative;
}

.project-item .img-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: var(--color-accent);
  transition: var(--transition-main);
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}

.project-item .img-wrapper img:not(.logo-wrapper img) {
  border-top-left-radius: var(--border-radius-main);
  border-top-right-radius: var(--border-radius-main);
}

.project-item .logo-wrapper {
  position: absolute;
  bottom: var(--spacing-medium);
  left: var(--spacing-medium);
  display: flex;
  gap: var(--spacing-medium);
  width: 40px;
  height: 40px;
}

.project-item .logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-item .content-wrapper {
  background-color: var(--color-text-primary);
  padding: var(--spacing-large) var(--spacing-medium);
  border-bottom-left-radius: var(--border-radius-main);
  border-bottom-right-radius: var(--border-radius-main);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-item .content-wrapper h3 {
  font-size: clamp(1.25rem, 1.0625rem + 0.9375vw, 2rem);
  font-weight: 700;
}

.project-item .content-wrapper p {
  font-size: clamp(0.875rem, 0.78125rem + 0.46875vw, 1.25rem);
  margin: var(--spacing-medium) 0;
}

.project-item .content-wrapper .btns {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
}

.project-filters {
  display: flex;
  gap: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
  flex-wrap: wrap;
}

@media (max-width: 1280px) {
  .projects-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-item .content-wrapper {
    padding: var(--spacing-medium);
  }
}

@media (max-width: 992px) {
  .project-item .img-wrapper {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .projects-section {
    grid-template-columns: 1fr;
  }

  .project-item .img-wrapper {
    height: 250px;
  }
}
