@import url("./src/css/base/variables.css");
@import url("./src/css/base/resets.css");
@import url("./src/css/base/typography.css");

@import url("./src/css/layout/grid.css");
@import url("./src/css/layout/header.css");
@import url("./src/css/layout/footer.css");

@import url("./src/css/components/buttons.css");
@import url("./src/css/components/cards.css");
@import url("./src/css/components/forms.css");
@import url("./src/css/components/modal.css");

@import url("./src/css/pages/discover.css");
@import url("./src/css/pages/profile.css");
@import url("./src/css/pages/gallery.css");
@import url("./src/css/pages/auth.css");

@import url("./src/css/utilities/skeleton.css");
@import url("./src/css/utilities/spin.css");
